* {
    font-family: 'Helvetica Neue', sans-serif;               
}

.main-bg {
    background-color: #F1F3FF;
}

.blue-bg {
    background-color: #0D28A6;
}

.menu-gap {
    gap: 32px;
}

.gap-each {
    margin-top: 104px;
}

.circ {
    background-color: #CFD4ED;
    color: #0D28A6;
    padding: 5px;
    border-radius: 50px;
    margin-right: 10px;
}

@media (min-width: 992px) {
    .why-us-card {
        width: 288px;
        margin-right: 16px;
    }
    
    .testi-size {
        width: 832px;
        height: 270px;
    }
    
    .grid-container {
        display: grid;
        gap: 8px;
        padding: 50px 120px;
        grid-template: auto / auto auto;
        justify-content: center;
        align-items: center;
    }
    
    .item {
        padding: 0 10px;
    }
    
    .photo1 {
        grid-row: 1/4;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .set-sm {
        display: grid;
        gap: 24px;
        padding: 50px 90px;
    }
    
    .photo1, .rate {
        text-align: center;
    }
}

.promo-gap {
    padding: 64px 270px;
}

.no-bullets {
    list-style: none;
}

/* UPDATE Challenge 02 */

.front-box {
    width: 1255px;
    height: 106px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 24px;
    display: flex;
    gap: 16px;
}

.box-size {
    width: 240px;
    position: relative;
}

.input-box, .tanggal-input-box, .pass-input-box, .waktu-input-box {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
}

.input-box::before {
    font-family: 'FontAwesome';
    content: '\f078';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
}

.input-box.open::before {
    font-family: 'FontAwesome';
    content: '\f077';
}

.waktu-input-box::before {
    font-family: 'FontAwesome';
    content: '\f017';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
}

.list {
    position: absolute;
    width: 100%;
    background: white;
    margin-top: 5px;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    transition: 0.25s ease-out;
}

.list input {
    display: none;
}

.list label {
    display: flex;
    padding: 9px 12px;
}

.list label:hover {
    background: #C9E7CA;
    color: #5CB85F;
}

input[type="date"] {
    gap: 100px;
    outline: none;
}

input[type="number"] {
    outline: none;
}

select {
    -webkit-appearance: none;
    border: none;
    outline: none;
    width: 100%;
}

#cars-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.car-container {
    width: 333px;
    height: 586px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 18px 24px;
    gap: 32px;
}